<div id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12948.086376697027!2d10.8244166!3d35.7748459!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x965c5493774e6a62!2sHRDataBank%20Tunisie!5e0!3m2!1sfr!2stn!4v1580211012392!5m2!1sfr!2stn" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>HR</em>DATA<em>B</em>ANK</a>
                    <p>Copyright &copy; 2020 HRDATABANK TUNISIE SARL, a member of <a href="https://willgroup.co.jp/en/index.html" target="_blank"><strong>WILLGROUP</strong></a>, Inc. Japan 
                   <br>Design: </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>18 Algeria Street <br>Monastir Tunisia</li>
                        <li>On Crispy Caffe <br>Monastir 5000</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: +216-73-447-722</li>
                        <li><em>Email</em>: contact@hrdatabank.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with us</h4>
                    <ul>
                        <li><a href="https://www.linkedin.com/company/hrdatabank-tunisie/?originalSubdomain=fr"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/hrdatabank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/hrdatabank/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/hrdatabank/"><i class="fa fa-instagram"></i></a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
