.navbar {
   position: fixed;
}
.navbar.navbar-fixed-top.navbar-inverse {
    background-color: rgba(255,255,255,0.5);
    margin-bottom: -10px;
}
a {
    color: #333;
}
a:hover {
    color: #333;
}
.thislogo {
    display: block;
    margin-bottom: -70px;
    margin-top: -24.5px;
}