<!-- section: services -->
<section id="services" class="section orange">
    <div class="container">
        <h4>Services</h4>
        <!-- Four columns -->
        <div class="row">
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="assets/img/icons/joboty_icon.png" alt=""  width="120px" height="auto"/>
                    <h2>Bot</h2>
                    <p>
                        We create intelligent chat bots to facilitate the job hunting and recruitement procedures for both candidates and companies.                    </p>
                </div>
            </div>
            <div class="span3 animated flyIn">
                <div class="service-box">
                    <img src="assets/img/icons/img1_file5d1600ddaa33e.png" alt="" />
                    <h2>Automation</h2>
                    <p>
                        We automate mundane programming and testing tasks for the efficiency and enjoyment of our developers.                    </p>
                </div>
            </div>
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="assets/img/icons/images.png" alt="" width="126px" height="auto" />
                    <h2>Network</h2>
                    <p>
                        Clouds are the trigger to the rain, cloud architecture is the rain of networking and development.                    </p>
                </div>
            </div>
            <div class="span3 animated-slow flyIn">
                <div class="service-box">
                    <img src="assets/img/icons/out.png" alt="" width="155px" height="auto" />
                    <h2>and More</h2>
                    <p>
                        Thinking out of the box in a working environment where the sky is the limit.                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section: services -->