<div class="staffForm">
  <div class="formPhotos">
      <form [formGroup]="photosForm" (ngSubmit)="submitForm()">
          <fieldset> 
              <legend>Add New Person <i id="pic" class="material-icons">add_photo_alternate</i> :</legend>
              <div class="form-group">
                  <label for="staffFullName">Employee Name</label> <br>
                  <input type="text" formControlName="staffFullName" class="form-control" />
              </div>
              <div class="form-group">
                  <label for="staffPosition">Employee Position</label> <br>
                  <input type="text" formControlName="staffPosition" class="form-control" />
              </div>
              <div class="form-group">
                  <label for="image">Employee Photo</label>
                  <input type="file" (change)="uploadFile($event)" formControlName="image" class="form-control" />
              </div>
              <div class="form-group">
                  <button type="submit"  class="btn btn-primary">Create</button>
              </div>
              <!--Add "Employee Created" Or "Error" Using -> *ngIf="" and {{The Message}}-->
              <div *ngIf="statusCode">
                <div *ngIf="statusCode === 201" class="success">Staff Created Successfully.</div>
                <div *ngIf="statusCode === 200" class="success">Staff Updated Successfully.</div>
                <div *ngIf="statusCode === 204" class="success">Staff Deleted Successfully.</div>
                <div *ngIf="statusCode === 500" class="error">Internal Server Error.</div>
              </div>
          </fieldset>
      </form>
  </div>
</div>
<h1 id="caption">Staff Information <i style="width: 6%;"class="material-icons">person</i>:</h1>
<!--Get And Preview All Added Staff From The DataBase-->
<table class="table table-borderless">
      <tr>
        <th scope="col">Staff Name</th>
        <th scope="col">Staff Position</th>
        <th scope="col">Staff Photo</th>
      </tr>
      <tr *ngFor="let staffupload of allStaffUploads">
        <!--staffFullName-->
        <td>{{staffupload.staffFullName}}</td>
        <!--staffPositon-->
        <td>{{staffupload.staffPosition}}</td>
        <!--image-->
        <td><img src="{{staffupload.imagePath}}" width="150" height="150"/></td>
        <td>
          <button type="button" (click)="updateStaffById(staffUploads.staffId)">Edit</button>
        </td>
        <td>
          <button type="button" (click)="deleteStaff(staffUploads.staffId)">Delete</button>
        </td>
      </tr>
  </table>
