<section id="portfolio">
<h4>Photo Album</h4>
<p>“Taking an image, freezing a moment, reveals how rich reality truly is.”</p>
<div id="myBtnContainer">
  <button class="btn" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('anniversary')">HRDATABANK Third Anniversary </button>
  <button class="btn" onclick="filterSelection('paint')">Paintball</button>
  <button class="btn" onclick="filterSelection('intern')">Interns Graduation Day</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column anniversary">
    <div class="content">
      <img src="assets/PICS/Anni.jpg"  style="width:60%">
    </div>
  </div>
  <div class="column anniversary">
    <div class="content">
      <img src="assets/PICS/Anni1.jpg"  style="width:60%">
    </div>
  </div>
  <div class="column anniversary">
    <div class="content">
      <img src="assets/PICS/Anni2.jpg"  style="width:60%">
    </div>
  </div>

  <div class="column paint">
    <div class="content">
      <img src="assets/PICS/Paint.jpg"  style="width:60%">
    </div>
  </div>
  <div class="column paint">
    <div class="content">
      <img src="assets/PICS/Paint1.jpg"  style="width:60%">
    </div>
  </div>
  <div class="column paint">
    <div class="content">
      <img src="assets/PICS/Paint2.jpg"  style="width:30%" height="15%">
    </div>
  </div>

  <div class="column intern">
    <div class="content">
      <img src="assets/PICS/Inter.jpg" style="width:60%">
    </div>
  </div>
  <div class="column intern">
    <div class="content">
      <img src="assets/PICS/Inter1.jpg"  style="width:60%">
    </div>
  </div>
  <div class="column intern">
    <div class="content">
      <img src="assets/PICS/Inter2.jpg" style="width:50%" height="20%">
    </div>
  </div>
<!-- END GRID -->
</div> 
</section>