<!-- spacer section -->
<section class="spacer bg3">
    <div class="container">
        <div class="row">
            <div class="span12 aligncenter flyLeft">
                <blockquote class="large">
                    We are an established and trusted web agency with a reputation for commitment and high integrity
                </blockquote>
            </div>
            <div class="span12 aligncenter flyRight">
                <i class="icon-rocket icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- section: blog -->
<section id="blog" class="section">
    <div class="container">
        <h4>Our News</h4>
        <!-- Three columns -->
        <div class="row">
            <div class="span3">
                <div class="home-post">
                    <div class="post-image">
                        <img class="max-img" src="assets/img/blog/anniversary.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">October 08, 2015</span>
                        <span class="tags"><a href="#">Design</a>, <a href="#">Blog</a></span>
                    </div>
                    <div class="entry-content">
                        <h5 ><strong><a href="#">Katsue 3rd Anniversary</a></strong></h5>
                        <p>
                            Katsue Information Technology just turned 3 on June 1st, so to celebrate this event, we held a party at our office and we...                        </p>
                        <a href="#" class="more">Read more</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="home-post">
                    <div class="post-image">
                        <img class="max-img" src="assets/img/blog/robotsblog.jpg" alt=""  />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">June 14, 2016</span>
                        <span class="tags"><a href="#">Design</a>, <a href="#">News</a></span>
                    </div>
                    <div class="entry-content">
                        <h5><strong><a href="#">How Can Robots Help Humans In Daily Life</a></strong></h5>
                        <p>
                            Wouldn’t it be nice to have some help around the house to get the chores done? And what about having a personal assistant capable of tagging along to carry your groceries when you go shopping or that can entertain the kids while you have to work? What’s more...                        </p>
                        <a href="#" class="more">Read more</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="home-post">
                    <div class="post-image">
                        <img class="max-img" src="assets/img/blog/garage.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">June 19, 2015</span>
                        <span class="tags"><a href="#">Design</a>, <a href="#">Tips</a></span>
                    </div>
                    <div class="entry-content">
                        <h5><strong><a href="#">Welcome to our new Katsue robots garage !</a></strong></h5>
                        <p>
                            Exciting things are happening at Katsue Information Technology Lab, and we want to share some important news with you. Loyalty from our team has fueled continued growth, making a step forward towards becoming the best, thanks to the recent fundraising from the Dutch govrnemnt, we are now officialy geared with all new equipmenets to create robots.
                            Als we wanted to inform you that we...                        </p>
                        <a href="#" class="more">Read more</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="home-post">
                    <div class="post-image">
                        <img class="max-img" src="assets/img/blog/newapp.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">January 02, 2020</span>
                        <span class="tags"><a href="#">News</a>, <a href="#">Tutorial</a></span>
                    </div>
                    <div class="entry-content">
                        <h5><strong><a href="#">Our corporate website has been renewed !</a></strong></h5>
                        <p>
                            The Website design has been renovated to provide users with a user-friendly site where information can be accessed easily.
                            The new responsive design can also be viewed on smartphones.
                            We are looking forward to improve in order to serve you better.
                        </p>
                        <a href="#" class="more"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blankdivider30"></div>
        <div class="aligncenter">
            <a href="#" class="btn btn-large btn-theme">More blog post</a>
        </div>
    </div>
</section>

<!-- end spacer section -->