
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>The Most Robotic Information Technology Lab In Netherlands</h3>
        <p>As One Of The Modern Startups In Amsterdam, We Have Vision To Become The Most Innovative Information Technology Lab In The World.</p>
        <br><br>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Katsue ?</h3>
        <p>We Bright The Future With Modern Technology ! Serving AI Technology And Robots For Better World</p><br><br><br>
      </div>
    </ng-template>
</ngb-carousel>
  
  